body {
    background: url("../img/bg-image/bg-lines-landing.png") top no-repeat , url("../img/bg-image/bg-lines-landing.png") bottom no-repeat, rgba(255, 232, 111, 0.61) ;
    background-size: contain;
}

.logo {
    padding: 52px 0 0 62px;
}
.left-logo {
    margin-right: 60px;
    margin-top: 50px;
    gap: 50px;
}
.left-logo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 115px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FDD200;
}
.white-section {
    background-color: #ffffff;
    padding: 61px 58px 0 58px;
}

.h2-img-tools {
    background: url("../img/section-1/bg-sec1-h2.png") right no-repeat;
}
.h2-img-tools h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.h2-img-tools {
    max-width: 300px;
}

.white-section-block-1 {
    margin-top: 59px;
}

.white-section-block-2 h2, p {
    width: 300px;
}
.white-section-block-2 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}
.cards-settings {
    margin-bottom: 125px;
    gap: 30px;
}

.white-section-block-2 {
    margin-right: 200px;
}

.white-section-block-2-left-menu {
    background: url("../img/section-3/small_circle_block_2_left_menu.svg") center no-repeat, url("../img/section-3/second_circle_block_2_left_menu.svg") center no-repeat, url('../img/section-3/big_circle_block_2_left_menu.svg ') center no-repeat;
}
/*---ICON---*/
.small-icon-1 {
    right: -28px;
    bottom: 124px;
}
.small-icon-2 {
    top: 75px;
    left: -36px
}
.yellow-small-icon {
    left: -53px;
    bottom: 59px;;
}
.yellow-big-icon {
    top: 69px;
    right: -35px;
}